<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectsafemoto">

    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.front" android:required="true" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Moto Settings"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

        <activity android:name=".FakeSettingsActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <activity android:name=".RepairKioskActivity"-->
<!--            android:launchMode="singleTask"-->
<!--            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"-->
<!--            android:exported="false"/>-->
        <activity android:name=".RepairKioskActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
            android:exported="false">

            <meta-data android:name="android.app.lock_task_allowed" android:value="true" />

        </activity>

        <receiver
            android:name=".MyDeviceAdminReceiver"
            android:description="@string/app_name"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".RepairKioskActivity$ChargingReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>